.heading{
  font: {
    family: Roboto,sans-serif;
    size:40px;
    weight: 800;
  }
}

.enlarge{
  transition: {
    property: all;
    duration: 4s;
    delay: 2s;
  }
}

.info-page {
  margin: {
    bottom: 10px;
    top: 2px;
  }
}